
<header class="text-center mb-5 mt-5">
    <h1 class="display-6 fw-bold text-dark">Como funciona nossa lista de presentes?</h1>
    <p class="lead text-muted col-md-10 mx-auto">Para tornar este processo ainda mais especial e compartilhar cada passo com vocês, criamos esta lista de presentes virtual. Aqui, explicamos de forma simples e carinhosa como você pode fazer parte deste sonho:</p>
</header>


<div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-4 justify-content-center ">

    <!-- Passo 1: Escolher o Presente -->
    <div class="col">
        <div class="card h-100 text-center p-3 step-card">
            <div class="step-number">1</div>
            <div class="card-body d-flex flex-column">
                <h5 class="card-title fw-bold">Escolha o presente</h5>
                <p class="card-text small mt-auto">Navegue pela nossa lista, escolha o item e saiba que o valor será revertido para nós.</p>
            </div>
        </div>
    </div>

    <!-- Passo 2: Preencher Informações -->
    <div class="col">
        <div class="card h-100 text-center p-3 step-card">
            <div class="step-number">2</div>
            <div class="card-body d-flex flex-column">
                <h5 class="card-title fw-bold">Coloque seu nome</h5>
                <p class="card-text small mt-auto">Preencha seu nome para sabermos quem nos enviou este gesto de carinho.</p>
            </div>
        </div>
    </div>

    <!-- Passo 3: Deixar uma Mensagem -->
    <div class="col">
        <div class="card h-100 text-center p-3 step-card">
            <div class="step-number">3</div>
            <div class="card-body d-flex flex-column">
                <h5 class="card-title fw-bold">Escreva uma mensagem</h5>
                <p class="card-text small mt-auto">Deixe um recado especial que guardaremos com muito carinho.</p>
            </div>
        </div>
    </div>

    <!-- Passo 4: Pagamento via PIX -->
    <div class="col">
        <div class="card h-100 text-center p-3 step-card">
            <div class="step-number">4</div>
            <div class="card-body d-flex flex-column">
                <h5 class="card-title fw-bold">Pagamento via PIX</h5>
                <p class="card-text small mt-auto">Um QR Code será gerado para o pagamento. É só escanear com o app do seu banco.</p>
            </div>
        </div>
    </div>

    <!-- Passo 5: Confirmação -->
    <div class="col">
        <div class="card h-100 text-center p-3 step-card">
            <div class="step-number">5</div>
            <div class="card-body d-flex flex-column">
                <h5 class="card-title fw-bold">Confirme o envio</h5>
                <p class="card-text small mt-auto">Após pagar, clique em "Confirmar Presente" para nos notificar. Pronto!</p>
            </div>
        </div>
    </div>

</div>

