.color-bege{
  background-color: #868170 !important;
  border:none;
  transition:  background-color 0.5s;
  -webkit-transition:  background-color 0.5s;
  -moz-transition:  background-color 0.5s;
  -ms-transition:  background-color 0.5s;
  -o-transition:  background-color 0.5s;
}

.color-bege:hover{
  background-color: #aca48f !important;
  border:none;
}

