
<div class="backgroud-foto py-5">
  <div class="row mx-0 justify-content-center ">
    <div class="col-lg-8 col-10">
      <h2 class="mt-2 fw-bold">Nosso Chá de Casa Nova</h2>
      <p class="mt-4">
        De um sonho compartilhado em conversas tarde da noite a uma chave que agora seguramos em nossas mãos,
        nossa jornada nos trouxe até este novo começo. Fechamos a porta de um capítulo para abrir a de
        uma vida inteira, e cada parede desta casa parece guardar o espaço exato para os nossos planos e
        afetos.
      </p>
      <p>
        Olhamos para os cômodos ainda vazios e já conseguimos imaginar o futuro que nos espera aqui,
        um futuro que queremos preencher com amor, companheirismo e, acima de tudo,
        com momentos inesquecíveis. Este lar é o alicerce onde construiremos nossa história juntos.
      </p>

      <h3 class="h5 text-end">Beltrano e Sicrano</h3>
    </div>
  </div>


</div>
