.backgroud-foto{
  background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.40)), url('https://img.freepik.com/fotos-gratis/casal-adoravel-tem-um-abraco-caloroso_273609-44073.jpg?semt=ais_hybrid&w=740') !important;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
}

p, h2, h3{
  color: rgba(255, 255, 255, 0.849);
}
